@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto&display=swap");

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	scroll-behavior: smooth;
}

a, button
{
	display: inline-block;

	cursor: pointer;
	text-decoration: none;
}

html
{
	height: 100%;
}

body
{
	display: flex;
	overflow-x: hidden;
	flex-flow: column nowrap;

	width: 100%;
	min-width: 320px;
	min-height: 100%;

	text-align: center;

	color: #FFFFFF;
	background-color: #202024;
}

#app
{
	flex-grow: 1;
}

body, a, input, button
{
	font-family: "Roboto", sans-serif;
}

.container
{
	flex-grow: 1;

	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

hr
{
	width: 100%;
	height: 0;

	border: 1px solid rgba(255, 255, 255, 0.2);
}

.button
{
	font-size: 20px;

	position: relative;

	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;

	width: 310px;
	height: 70px;
	margin-bottom: 35px;

	cursor: pointer;
	transition: 0.3s all;

	color: #FFFFFF;
	border: 0;
	border-radius: 50px;
	outline: 0;
	background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
}

.button:hover
{
	transform: scale(1.1);
}

.button.blick::after
{
	position: absolute;
	top: 0;
	left: -50%;

	width: 50%;
	height: 100%;

	content: "";
	animation: blick-animation 3s ease-in-out infinite;

	background: linear-gradient(248.67deg, rgba(255, 255, 255, 0) 30.84%, rgba(255, 255, 255, 0.29) 46.06%, rgba(255, 255, 255, 0) 64.04%);
}

@keyframes blick-animation
{
	from
	{
		left: -50%;
	}
	to
	{
		left: 150%;
	}
}

/* FONTS */
.text-mini
{
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;

	color: rgba(255, 255, 255, 0.6);
}

.text-large
{
	font-size: 25px;
	line-height: 29px;

	color: rgba(255, 255, 255, 0.6);
}

.text-orange
{
	font-size: 25px;
	line-height: 35px;

	color: #F6C866;
}

.text-magic
{
	font-family: "Bad Script", cursive;
	font-size: 25px;
	line-height: 35px;
}

/* SECTION ONE */
.section_one
{
	background-image: url("./../img/section1_background.png");
	background-size: cover;
}

.section_one .container
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;
}

.section_one .border-wrapper
{
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}

.section_one .border
{
	z-index: 1;

	width: 344px;

	opacity: 0.2;
}

.section_one .border-wrapper .image
{
	position: absolute;
	z-index: 5;

	border-radius: 100%;
}

.section_one p:first-child
{
	margin-top: 40px;
	margin-bottom: 20px;
}

.section_one .text-large
{
	margin-top: 10px;
}

.section_one .text-orange
{
	margin-bottom: 40px;
}

.section_one .border-wrapper
{
	margin-top: 65px;
	margin-bottom: 25px;
}

/* SECTION TWO */
.section_two .container
{
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 70px 0;
}

.section_two .border
{
	position: relative;

	margin-top: 70px;
	padding: 90px 45px;
	padding-top: 130px;

	border: 1px solid #FFFFFF;
	border-radius: 3px;
}

.section_two .border .image
{
	position: absolute;
	top: 0;
	left: 50%;

	transform: translate(-50%, -50%);

	border-radius: 100%;
}

.section_two .border p, .section_three p
{
	font-size: 25px;
	line-height: 35px;
}

.section_two .border span, .section_three span
{
	color: rgba(246, 200, 102, 1);
}

/* SECTION THREE */
.section_three .container
{
	background-image: url("./../img/section3_image.png");
	background-size: cover;
}

.section_three p
{
	padding: 240px 0;
}

/* SECTION FOUR */
.section_four .container
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	padding: 130px 0;
	padding-bottom: 0;
}

.section_four .text-orange
{
	margin-bottom: 50px;
}

/* SECTION FIVE */
.section_five .container
{
	position: relative;

	padding-top: 160px;
}

.section_five .text-magic
{
	margin: 80px 0;
}

.section_five .rune
{
	width: 60px;
}

.section_five .rune:last-child
{
	margin-bottom: 150px;
}

.section_five .container::before
{
	position: absolute;
	bottom: 0;
	left: 0;

	width: 160px;
	height: 160px;
	margin-bottom: 50px;
	margin-left: -60px;

	content: "";

	background-image: url("./../img/moon.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.section_five .container::after
{
	position: absolute;
	right: 0;
	bottom: 0;

	width: 260px;
	height: 170px;
	margin-right: -120px;
	margin-bottom: 360px;

	content: "";

	background-image: url("./../img/eye.png");
	background-repeat: no-repeat;
	background-size: contain;
}

/* CUSTOM SELECT */
.select
{
	font-size: 20px;
	line-height: 16px;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 310px;
	height: 70px;
	margin-bottom: 35px;

	cursor: pointer;

	color: #202024;
	border: 0;
	border-radius: 50px;
	background: linear-gradient(90deg, rgba(228, 228, 228, 0.9) -6.2%, rgba(203, 203, 203, 0.9) 100%);
}

.select:hover::after
{
	animation-play-state: running;
}

.select::after
{
	position: absolute;
	top: 50%;
	right: 35px;

	content: "";
	transition: 0.3s all;
	transform: translate(0, -15%);
	animation: 1s arrowDown infinite;
	animation-play-state: paused;

	border: 10px solid transparent;
	border-top: 8px solid #202024;
}

@keyframes arrowDown
{
	0%
	{
		top: 50%;
	}
	50%
	{
		top: 60%;
	}
	100%
	{
		top: 50%;
	}
}

.select-wrapper
{
	position: relative;
}

.select-dropdown
{
	position: absolute;
	z-index: 15;
	top: 0;
	left: 0;

	overflow-y: scroll;

	width: 100%;
	max-height: 400px;

	border-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background: linear-gradient(90deg, rgba(228, 228, 228, 1) -6.2%, rgba(203, 203, 203, 1) 100%);
}

.select-dropdown p
{
	font-size: 20px;

	padding: 15px 25px;

	cursor: pointer;
	transition: 0.3s all;

	color: rgba(32, 32, 36, 1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.select-dropdown p:hover
{
	background: linear-gradient(
	90deg, rgb(228 228 228) -6.2%, rgb(203 203 203) 100%);
}

.select-dropdown p:last-child
{
	border-bottom: 0;
}

.select-dropdown::-webkit-scrollbar-track
{
	background-color: #202024;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.select-dropdown::-webkit-scrollbar
{
	width: 10px;

	background-color: #202024;
}

.select-dropdown::-webkit-scrollbar-thumb
{
	background-color: #F6C866;
}

.select.error
{
	border: 2px solid #EE5353;
}
