@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto&display=swap");

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a, button
{
	display: inline-block;

	cursor: pointer;
}

body
{
	text-align: center;

	color: #FFFFFF;
	background-color: #202024;
}

body, a, input, button
{
	font-family: "Roboto", sans-serif;
}

.container
{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

hr
{
	width: 100%;
	height: 0;

	border: 1px solid rgba(255, 255, 255, 0.2);
}

.button
{
	font-size: 20px;

	position: relative;

	overflow: hidden;

	width: 310px;
	height: 70px;
	margin-bottom: 35px;

	color: #FFFFFF;
	border: 0;
	border-radius: 50px;
	outline: 0;
	background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
}

.button.blick::after
{
	position: absolute;
	top: 0;
	left: -50%;

	width: 50%;
	height: 100%;

	content: "";
	animation: blick-animation 3s ease-in-out infinite;

	background: linear-gradient(248.67deg, rgba(255, 255, 255, 0) 30.84%, rgba(255, 255, 255, 0.29) 46.06%, rgba(255, 255, 255, 0) 64.04%);
}

@keyframes blick-animation
{
	from
	{
		left: -50%;
	}
	to
	{
		left: 150%;
	}
}

/* FONTS */
.text-mini
{
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;

	color: rgba(255, 255, 255, 0.6);
}

.text-large
{
	font-size: 25px;
	line-height: 29px;

	color: rgba(255, 255, 255, 0.6);
}

.text-orange
{
	font-size: 25px;
	line-height: 35px;

	color: #F6C866;
}

.text-magic
{
	font-family: "Bad Script", cursive;
	font-size: 25px;
	line-height: 35px;
}

/* SECTION ONE */
.section_one
{
	background-image: url("./../img/section1_background.png");
	background-size: cover;
}

.section_one .container
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;
}

.section_one .border-wrapper
{
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}

.section_one .border
{
	z-index: 1;

	width: 344px;
	height: 344px;

	opacity: 0.2;
}

.section_one .border-wrapper .image
{
	position: absolute;
	z-index: 5;

	border-radius: 100%;
}

.section_one p:first-child
{
	margin-top: 40px;
	margin-bottom: 20px;
}

.section_one .text-large
{
	margin-top: 10px;
}

.section_one .text-orange
{
	margin-bottom: 40px;
}

.section_one .border-wrapper
{
	margin-top: 65px;
	margin-bottom: 25px;
}

/* SECTION TWO */
.section_two .container
{
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 70px 0;
}

.section_two .border
{
	position: relative;

	margin-top: 70px;
	padding: 90px 45px;
	padding-top: 130px;

	border: 1px solid #FFFFFF;
	border-radius: 3px;
}

.section_two .border .image
{
	position: absolute;
	top: 0;
	left: 50%;

	transform: translate(-50%, -50%);

	border-radius: 100%;
}

.section_two .border p, .section_three p
{
	font-size: 25px;
	line-height: 35px;
}

.section_two .border span, .section_three span
{
	color: rgba(246, 200, 102, 1);
}

/* SECTION THREE */
.section_three .container
{
	background-image: url("./../img/section3_image.png");
	background-size: cover;
}

.section_three p
{
	padding: 240px 0;
}

/* SECTION FOUR */
.section_four .container
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	padding: 130px 0;
}

.section_four .text-orange
{
	margin-bottom: 50px;
}

/* SECTION FIVE */
.section_five
{
	position: relative;
}

.section_five .text-magic
{
	margin: 80px 0;
}

.section_five .rune
{
	width: 60px;
}

.section_five .rune:last-child
{
	margin-bottom: 150px;
}

.section_five::before
{
	position: absolute;
	bottom: 0;
	left: 0;

	width: 160px;
	height: 160px;

	content: "";

	background-image: url("./../img/moon.png");
	background-repeat: no-repeat;
	background-size: contain;

    margin-bottom: 50px;
    margin-left: 160px;
}

.section_five::after
{
	position: absolute;
	bottom: 0;
	right: 0;

	width: 300px;
	height: 160px;

	content: "";

	background-image: url("./../img/eye.png");
	background-repeat: no-repeat;
	background-size: contain;

    margin-bottom: 360px;
    margin-right: 150px;
}