@media screen and (max-width: 1440px)
{
	.container
	{
		overflow-x: hidden;
	}
}

@media screen and (max-width: 768px)
{
	.section_one
	{
		background-repeat: no-repeat;
		background-position: 55% top;
		background-size: auto 95%;
	}

	.section_five .container::after, #test .container::after
	{
		width: 170px;
		height: 110px;
		margin-right: -70px;
	}

	.section_five .container::before, #test .container::before
	{
		width: 100px;
		height: 100px;
		margin-left: -30px;
	}
	#test .container::after
	{
		top: 125px;
	}
	#test .container::before
	{
		bottom: 40px;
	}
	#test .message, #final .message
	{
		font-size: 21px;
	}
	.text-orange
	{
		font-size: 23px;
	}
	.button
	{
		font-size: 18px;

		width: 280px;
		height: 60px;
	}
	.select-dropdown p
	{
		padding: 12px 25px;
	}
	.text-mini, .text-orange, .text-magic, #test .message, #final .message
	{
		max-width: 380px;
		margin: 0 auto;
		margin-right: 25px;
		margin-left: 25px;
	}
	.section_five .text-magic
	{
		margin: 80px auto;
	}
	.terms
	{
		font-size: 9px;
	}
}

@media screen and (max-width: 425px)
{
	.section_two .border .image
	{
		width: 95px;
	}
	br:not(.section_five br)
	{
		display: none;
	}

	.section_one
	{
		background-repeat: no-repeat;
		background-position: 60% top;
		background-size: auto 80%;
	}

	.section_one p:first-child
	{
		font-size: 12px;
		line-height: 14px;

		margin-top: 15px;
		margin-bottom: 10px;
	}

	.section_one .text-large
	{
		font-size: 20px;
		line-height: 23px;
	}

	.section_one .border
	{
		width: 200px;
	}

	.section_one .border-wrapper .image
	{
		width: 150px;
	}

	.section_one .text-orange
	{
		font-size: 16px;
		line-height: 25px;
	}

	.section_one .text-mini:last-child, .section_four .text-mini
	{
		font-size: 12px;
		line-height: 14px;

		width: 100%;
	}

	.button, .select
	{
		font-size: 14px;
		line-height: 16px;

		width: 180px;
		height: 40px;
		margin-bottom: 20px;
	}

	.section_two .container
	{
		padding: 40px 30px;
	}

	.section_two .border
	{
		padding: 25px 30px;
		padding-top: 80px;
	}

	.section_two .border p, .section_three p
	{
		font-size: 16px;
		line-height: 25px;
	}

	.section_two .border span, .section_three span
	{
		font-size: 20px;
	}

	.section_three p
	{
		padding: 100px 40px;
	}

	.section_three .container
	{
		background-image: url(/img/section3_image.d3e1aa9e.png);
		background-position: 30% 100%;
		background-size: cover;
	}
	.section_five .text-magic
	{
		font-size: 20px;
		line-height: 28px;
	}
	#test .text-magic
	{
		min-height: 110px;
	}
	#test .text-magic, #final .text-magic
	{
		font-size: 14px;
		line-height: 20px;

		padding: 15px 35px;
	}

	#test .text-orange, #final .text-orange
	{
		font-size: 16px;
		line-height: 25px;

		padding: 5px;
	}

	.select:after
	{
		top: 50%;
		right: 15px;

		border: 5px solid transparent;
		border-top: 4px solid #202024;
	}

	.select-dropdown p
	{
		font-size: 18px;

		padding: 8px 25px;
	}

	#test .message, #final .message
	{
		max-width: 260px;
		margin: 30px 0;
	}

	#test .test-count
	{
		font-size: 12px;
		line-height: 14px;
	}

	#final .text-mini:nth-child(1), #final .text-mini:nth-child(2)
	{
		font-size: 14px;
		line-height: 18px;
	}

	#final .text-mini:nth-child(2)
	{
		max-width: 280px;
	}

	#final .text-orange
	{
		max-width: 260px;
		padding: 15px;
	}

	#final .button
	{
		font-size: 14px;

		width: 240px;
		height: 48px;
	}

	.terms
	{
		font-size: 7px;
		line-height: 9px;

		padding: 0 15px;
	}
}
